@font-face {
    font-family: "Value Sans Pro";
    src: url("./fonts/ValueSansProRegular.eot");
    src: url("./fonts/ValueSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/ValueSansPro-Regular.woff") format("woff"),
    url("./fonts/ValueSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
.body{
    font-family: 'Value Sans Pro', sans-serif;
}
.size {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    background-color: #EDEBE9;
    display: flex;
    padding: 10px 83px ;
}
.header__img{
    cursor: pointer;
}
.header__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header__text-one{
    margin-top: 5px;
    border-bottom: 1px dashed #333333;
}
.header__menu {
    display: flex;
}
.header__menu-link {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
/* .header__menu-link:nth-child(1) {
    font-weight: 700;
} */
.header__menu-link_font-weight{
    font-weight: 900;
}
@media (max-width: 1250px){
    .header__menu-link_font-weight{
        font-weight: 900;
    }
}
.header__menu-link:hover{
    color:  rgba(139, 71, 149, 0.80);;
}
.info-block{
    display: flex;
    padding: 0 80px;
    margin-top: 20px;
}
@media (max-width: 768px){
    .info-block{
        flex-direction: column;
    }
}
.info-block_serch {
    width: 80%;
    margin-left: 45px;
}
.info-block_serch_text {
    border-radius: 71px;
    height: 40px;
    transition: .4s;
    color: rgba(51, 51, 51, 0.75);
    border: 2px solid rgba(139, 71, 149, 0.8);
    letter-spacing: -0.01em;
    padding-left: 30px;
    width: 100%;
}
.info-block__icons{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 35px;
    margin-left: 77px;
}
.info-block__icon:hover{
    color: red;
}
.info-block__icon:hover svg path, .info-block__icon:hover svg circle{
    stroke: red;
}
.header-line_down {
    width: 100%;
    height: 3px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.27);
    margin-top: 15px;
}
.menu-block {
    margin-top: 15px;
    padding: 0 80px;
}
.menu-block__text {
    display: flex;
    justify-content: space-around;
}
.menu-block__text_style {
    text-decoration: none;
    color: black;
}
.menu-block__text_style:hover {
    color: #F2A905;
}
.section {
    position: relative;
    background-image:url(./img/Sofa.png), url(./img/Vector.png);
    display: flex;
    width: 100%;
    margin-top: 142px;
    background-repeat: no-repeat;
    padding-top: 27%;
    background-position: right;
    background-size: contain;
}
.section-text{
    position: absolute;
    top: 26px;
    left: 10%;
}
.section-text__want{
    font-weight: 400;
    font-size: 24px;
}
.section-text__discount {
    font-weight: 500;
    font-size: 70px;
    margin-top: 26px;
}
.section-cards {
    display: flex;
    padding-left: 154px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;

}
.section-card{
    width: 206px;
    height: 126px;
    background-repeat: no-repeat;
}
.section-card:nth-child(1) {
    background-color: rgba(201, 201, 201, 0.21);
    background-image: url(./img/section_vector_one.png), url(./img/section-card_background_one.png);
    background-position: right;
}
.section-card:nth-child(2) {
    background-image: url(./img/section_vector_two.png), url(./img/section-card_background_two.png),linear-gradient(90deg, #DFE9F3 1%, #FFF 100%);
    background-position: center;
}
.section-card:nth-child(3) {
    background-image: url(./img/section_vector_three.png), url(./img/section-card_background_three.png),linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
    background-position: center;
}
.section-card:nth-child(4) {
    background-image: url(./img/section_vector_four.png), url(./img/section-card_background_four.png),linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
    background-position: center;
}
.section-card:nth-child(5) {
    background-image: url(./img/section_vector_five.png), url(./img/section-card_background_five.png),linear-gradient(90deg, #DFE9F3 0%, #FFF 100%);
    background-position: center;
}
.section-card:nth-child(6) {
    background-image: url(./img/section_vector_six.png), url(./img/section-card_background_six.png),linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);
    background-position: right;
}
.section-card:nth-child(7) {
    background-image: url(./img/section_vector_seven.png), url(./img/section-card_background_seven.png),linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
    background-position: center;
}
.section-card:nth-child(8) {
    background-image: url(./img/section_vector_eight.png), url(./img/section-card_background_eight.png),linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
    background-position: right;
}
.product-block{
    width: 100%;
    margin-top: 140px;
    display: flex;
    padding: 0 154px;
    align-items: center;
}
.product__text-element{
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
}
.product__line-element{
    border-bottom: 1px solid #333333;
    height: 2px;
    margin-left: 93px;
    width: calc(100% - 93px - 280px)
}

.products-block {
    padding: 0 10%;
    margin-top: 83px;
    position: relative;
}

.products {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.product {
    width: 24%;
    max-width: 280px;
}

.product-image {
    border: 1px solid rgba(51, 51, 51, 0.27);
    position: relative;
    text-align: center;
    height: 346px;
}

.product-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.product-icons img {
    margin-right: 20px;
    margin-top: 20px;
}

.product-image__img-discount {
    position: absolute;
    z-index: 3;
    background: #8B4795;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    width: 47px;
    border-radius: 10px 40px 40px 10px;
    bottom: 34px;
    text-align: center;
}

.product-image__img-hit {
    position: absolute;
    z-index: 4;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    width: 90px;
    border-radius: 10px 40px 40px 10px;
    bottom: 10px;
    background: #7E94AE;
}

.product-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    opacity: 0.9;
    text-decoration: none;
    color: #333333;
    margin-top: 12px;
}

.product-name__full {
    font-size: 20px;
    font-weight: 500;
}

.product-name__price {
    font-weight: 700;
    font-size: 20px;
}

.product-name__prev-price {
    font-weight: 700;
    text-decoration: line-through;
    margin-left: 16px;
    font-size: 18px;
}

.product-name-prices {
    display: flex;
    align-items: center;
}

.product-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
    margin-left: 32px;
    background: #FFD103;
    border-radius: 44px;
    border: none;
    padding: 16px 32px;
    margin-top: 12px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    cursor: pointer;
    padding: 2px;
}

.arrow:hover circle {
    stroke: #8B4795;
    stroke-opacity: 1;
}

.arrow:hover path {
    fill: #8B4795;
    fill-opacity: 1;
}

.arrow-left {
    left: 58px;
}

.arrow-right {
    transform: translateY(-50%) rotate(180deg);
    right: 58px;
}
.content-block {
    display: flex;
    margin-top: 140px;
    width: 100%;
}
.content-block-card {
    position: relative;
    width: 33%;
}
.content-block-card__title {
    position: absolute;
    font-size: 64px;
    color: #FFF;
    font-weight: 500;
    bottom: 111px;
    left: 80px;
}
.content-text__items {
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    bottom: 175px;
    left: 80px;
    opacity: 0.9;
}
.content-text__catologist {
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    transform: translateY(-50%) rotate(270deg);
    top: 170px;
    left: 13px;

}
.content-line {
    position: absolute;
    width: 15%;
    height: 20%;
    border-bottom: 1px dashed #FFF;
    transform: translateY(-50%) rotate(90deg);
    top: 58px;
    left: 94px;

}
.tablet-block {
    padding:0 150px ;
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, #E9DEFA 0%, #FBFCDB 100%);
    margin-top: 140px;
    height: 795px;
}
.tablet-text_title {
    font-size: 48px;
    font-weight: 400;
    color: #333;
    padding-top: 235px;
}
.tablet-text__line {
    width: 179px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.tablet-text_want {
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.76);
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.28px
}
.tablet-arrow {
    cursor: pointer;
    margin-top: 65px;
}
.tablet-arrow__svg_transform {
    transform: rotate(180deg);
    margin-left: 16px;
}

.tablet-arrow__svg:hover circle {
    stroke: #8B4795;
    stroke-opacity: 1;
}

.tablet-arrow__svg:hover path {
    fill: #8B4795;
    fill-opacity: 1;
}
.tablet-cards {
    display: flex;
    margin-top: 140px;
    margin-left: 210px;
}

.tablet-card-wrapper {
    padding: 0 34px 34px 34px;
}

.tablet-card {
    background: #FFFFFF;
    box-shadow: 5px 17px 59px rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    width: 354px;
    height: 514px;
}

.tablet-card .posters-card__image {
    text-align: center;
}

.tablet-card-full-size .posters-card__image {
    margin-top: 0;
    height: 100%;
}

.posters-card__image-wrapper {
    height: 311px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posters-card__image {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}
.posters-card__name {
    font-weight: 700;
    font-size: 20px;
    margin-top: 45px;
}
.posters-name-prices {
    display: flex;
    margin-top: 10px;
}
.posters-button {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
    background: #FFD103;
    border-radius: 44px;
    border: none;
    width: 220px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 15px;
}
.posters-card:hover .posters-button {
    display: block;
}
.tablet_position {
    padding-top: 140px;
}
.benefits-block {
    margin-top: 140px;
    padding: 0 80px;
}
.benefits-block_text_title {
    font-size: 48px;
    color: #333;
    font-weight: 400;
    margin-left: 20px;

}
.benefits-block_text {
    display: flex;
    margin-top: 30px;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    flex-wrap: wrap;
    gap: 34px;
    margin-left: 20px;
}
.benefits-block_text_subtitle {
    cursor: pointer;
}
.benefits-block_text_subtitle:hover {
    font-weight: 700;
}
.benefits-block_img{
    position: relative;
}
.benefits-block_img-wrapper {
    display: flex;
    margin-top: 40px;
    margin-left: 16px;
    align-items: center;
}
.benefits-block_img_pic {
    max-height: 361px;
    margin-left: 16px;   
}
.benefits-block_icon:nth-child(5) {
    position: absolute;
    right: 410px;
    top: 376px;
}
.benefits-block__icon_border {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:rgba(216,216,216,0.2) ;
    border-radius: 50%;
    z-index: 1;
}
.benefits-block__icon_style{
    position: absolute;
    left: 14px;
    top: 13px;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}
.benefits-block_icon_img {
    position: absolute;
    z-index: 4;
    width: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.benefits-block_icon:nth-child(3) {
    position: absolute;
    left: 280px;
    top: 240px;
}
.benefits-block_icon:nth-child(2) {
    position: absolute;
    left: 47px;
    top: 503px;
}
.benefits-block_icon:nth-child(4) {
    position: absolute;
    right: 110px;
    top: 440px;
}
.benefits-block_img-secondary{
    position: relative;
}
.benefits-block_img-secondary-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.benefits-arrow {
    display: flex;
    position: absolute;
    left: 380px;
    top: 97px;
}
.benefits-block_img-secondary__line_container {
    display: flex;
   position: absolute;
   right: 430px;
   top: 122px;
}
.benefits-block_img-secondary__line:nth-child(1){
    position: absolute;
    border-bottom: 3px solid #8B4795;
    width: 140px;
}
.benefits-block_img-secondary__line:nth-child(2){
    position: absolute;
    border-bottom: 3px solid rgba(139, 71, 149, 0.25);
    width: 222px;
}